.container {
  width: 100%;
  aspect-ratio: 1;
  padding: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
}

.day {
  text-transform: uppercase;
  font-size: 3.8rem;
  font-family: "Fuzzy Bubbles", cursive;
  color: yellow;
}

.numbers {
  font-size: 10rem;
  font-weight: 400;
  font-family: "Press Start 2P", cursive;
  background-image: linear-gradient(white, pink, yellow);
  -webkit-background-clip: text;
  color: transparent;
}
